/*Universal Styles*/
html {
  font-size: 18px;
}
body {
  background-color: azure;
  font-family: Helvetica;
  line-height: 1.4;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
/*Header and Banner*/
header .container{
  background-color: cadetblue;
  display: flex;
  align-items: center;
  position: relative;
  top: 1rem;
  color: #ffffff;
}
.container span{
  flex-grow: 1;
}
header img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
.container ul {
  display: flex;
}
ul li {
  padding: 1rem 2rem;
}
ul.mobile{
  display: none;
}
#header-background{
  background-image: url(../images/glasses-bg.png);
  height: 31rem;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.banner {
  background-color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  display: inline-flex;
  margin-top: 10rem;
  float: right;
  position: relative;
  left: 2rem;
}
/*Main Content Area*/
main {
  margin: 3rem 0;
  align-items: center;
  display: flex;
}
main .container{
  display: flex;
}
.feature{
  display: flex;
  height: 8rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.feature.paper img{
  width: 3.5rem;
}
.feature.ruler img{
  width: 5rem;
  padding: 0 6rem;
}
.feature.truck img{
  width: 5rem;
}
.feature p{
  text-align: center;
}
.feature img{
  display: inline-flex;
}
/*About*/
section .container{
  display: flex;
}
.info.philosophy{
  margin-left: 10%;
}
.info {
  width: 35%;
  margin-left: 5%;
}
.info p{
  margin-top: 1rem;
}
.info h2{
  background-color: cadetblue;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
}
/*Footer*/
footer{
  margin-top: 5rem;
}
footer .container{
  padding: 4rem 0 4rem 4rem;
  display: flex;
}
footer img{
  height: 1.5rem;
  padding-right: 1rem;
}
/*Responsive Design*/
/*tablets*/
@media only screen and (max-width: 1024px){
  .container{
    max-width: 100%;
  }
  #header-background{
    background-image: url(../images/glasses-bg.png);
    height: 23rem;
  }
  .banner {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    display: inline-flex;
    float: right;
    position: static;
    margin-top: 5rem;
    margin-right: 2rem;
  }
  header{
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 1;
    top: -1rem;
  }
}
/*smartphones*/
@media only screen and (max-width: 470px){
  h1 {
    background-color: red;
  }
  header span {
    visibility: hidden;
  }
  ul.desktop{
    display: none;
  }
  ul.mobile{
    visibility: visible;
    display: inherit;
  }
  #header-background{
    height: 18rem;
    background-position: 20%;
  }
  .banner {
    float: none;
    display: inline-block;
    /*position: relative;*/
    /*top: 9rem;*/
  }
}
