/*Universal Styles*/
html {
  font-size: 18px;
}
body {
  background-color: azure;
  font-family: Helvetica;
  line-height: 1.4;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
/*Header and Banner*/
header .container{
  background-color: cadetblue;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #ffffff;
}
.container span{
  flex-grow: 1;
}
header img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
.container ul {
  display: flex;
}
ul li {
  padding: 2rem 1rem;
}
#header-background{
  background-image: url(../images/glasses-bg.png);
  height: 31rem;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top left;
}
.banner {
  background-color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  display: inline-flex;
  margin-top: 10rem;
  float: right;
  position: relative;
  left: 2rem;
}
/*Main Content Area*/
main .container{
  margin: 3rem 0;
  align-content: top;
  display: inline;
  /*height: 8rem;
  display: inline-block;*/
}
